<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SASRip</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header class="centered-text">
            <input tabindex="0" id="menu-button" class="menu-button" type="checkbox" alt="Show Navigation Menu" aria-label="Show Navigation Menu" />
            <label id="menu-button-image" for="menu-button" aria-label="Show Navigation Menu"></label>
            <nav>
                <ul class="menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="MediaReaper">Media-Reaper</a></li>
                    <li><a href="https://www.paypal.me/sas41/2" target="_blank">Donate</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="APIHelp">API</a></li>
                </ul>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy; @DateTime.Now.Year - SASRip - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>
