<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SASRip</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>

        <header>
            <h1>SASRip</h1>
        </header>

        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a href="https://www.paypal.me/sas41/2">Donate</a>
            <a asp-area="" asp-controller="Home" asp-action="APIHelp">API</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            &copy; @DateTime.Now.Year - SASRip - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

    </body>

</html>
