@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    SASRip and Media Reaper by <a href="https://github.com/sas41" target="_blank">Berk "SAS41" Alyamach</a>.
    <br />
    <br />
    Logo and Design by <a href="https://www.instagram.com/thegetsoff/" target="_blank">"Getsoff"</a>.
</p>

<br />
<p>SASRip is a web service for downloading Video and Audio from the internet.</p>
<p>It uses <a href="https://ytdl-org.github.io/youtube-dl/index.html" target="_blank">youtbe-dl</a> and <a href="https://www.ffmpeg.org/" target="_blank">ffmpeg</a>.</p>
<p><a asp-area="" asp-controller="Home" asp-action="MediaReaper">Media Reaper</a> is the official browser addon/extension of SASRip.</p>

<h2>Below are folk who have helped test and find bugs in SASRip and/or Media Reaper.</h2>

In no perticular order:
<ul style="list-style-type:disc;">
    <li>E. C. aka Byzmon - for helping test the earliest versions of the program and downloading 10 hours of 4K Nyan Cat to prove a point.</li>
    <li>lessthanequal - for helping find a pesky bug with a pesky percentge sign and scrutinizing my work.</li>
</ul> 