@{
    ViewData["Title"] = "SASRip API";
}
<h1>@ViewData["Title"]</h1>

<p>SASRip has a free API you can use to download files however you want.</p>
<p>Only restriction is that you may not use it commercially.</p>
<p>All personal use is fair game.</p>
<br />
<p>SASRip is using youtube-dl as it's back-bone.</p>
<p>So the API supports all download services that youtube-dl supports.</p>

<p>You can make an API call over at:</p>
/api/DownloadAPI/video/
<br />
or
<br />
/api/DownloadAPI/audio/
<br />
<p>Your GET request must contain a header with "download_url" as key and the link to the video/audio as the value.</p>
<p>You will then have to await a JSON response, containing the following Key-Value Pairs:</p>
Success - Boolean, if the video/audio extraction was successful.
<br />
DownloadPath - String, the URL to your file, use if Success is true.
<br />
Status - String, file_ready, file_processing or file_not_found.
<br />
<br />
<h2>Important Notice:</h2>
Please keep in mind that download and conversion can take several minutes.