@{
    ViewData["Title"] = "SASRip, Download Anything...";
}

    <div>
        <h2>@ViewData["Title"]</h2>

        <p>SASRip is 100% Free, no ads, no bullsh*t.</p>
        <p>Please consider <a href="https://www.paypal.me/sas41/2">donating</a> to cover for server costs.</p>
    </div>

    <form name="Download Request" onsubmit="Download(true)">
        <label for="url_input">Link to video/audio:<br></label>
        <input type="url" name="url_input" id="url_input" label="Link to video/audio:" description="Enter the URL to the video/audio you wish to download, here." required autofocus ><br>
        <input type="submit" id="download-video" value="Download as Video">
        <input type="button" id="download-audio" value="Download as Audio" onclick="downloadAudio()">
    </form>

<div class="loading_modal"></div>
<div class="failed_modal"></div>