@{
    ViewData["Title"] = "Media Reaper";
}
<h1>@ViewData["Title"]</h1>
<img class="mrlogo" src="~/assets/media-reaper-logo.svg" />
<p>
    Media Reaper is the official SASRip browser addon/extension.
    You can get the different version here:
    <ul style="list-style-type:none;">
        <li>
            <a href="~/MediaReaper/MediaReaper_Firefox.zip" target="_blank">
                Firefox (Coming Soon)
            </a>
        </li>
        <li>
            <a href="~/MediaReaper/MediaReaper_Chromium.zip" target="_blank">
                Chrome (Coming Soon)
            </a>
        </li>
        <li>
            <a href="~/MediaReaper/MediaReaper_Chromium.zip" target="_blank">
                Opera (Coming Soon)
            </a>
        </li>
    </ul>
    If you wish to get it directly as a file:
    <ul style="list-style-type:none;">
        <li>
            <a href="~/MediaReaper/MediaReaper_Firefox.zip" target="_blank">Firefox</a>
        </li>
        <li>
            <a href="~/MediaReaper/MediaReaper_Chromium.zip" target="_blank">All Chromium Browsers</a>
        </li>
    </ul>
</p>