@{
    ViewData["Title"] = "Media Reaper";
}
<h1>@ViewData["Title"]</h1>
<img class="mrlogo" src="~/assets/media-reaper-logo.svg" />
<p>
    Media Reaper is the official SASRip browser addon/extension.
    You can get the different version here:
    <ul style="list-style-type:none;">
        <li>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/media-reaper/" target="_blank">
                Firefox
            </a>
        </li>
        <li>
                Chrome (Coming Soon)
        </li>
        <li>
                Opera (Coming Soon)
        </li>
    </ul>
    If you wish to get it directly as a file:
    <ul style="list-style-type:none;">
        <li>
            <a href="~/MediaReaper/MediaReaper.xpi" >Firefox</a>
        </li>
        <li>
            <a href="~/MediaReaper/MediaReaper.crx">All Chromium Browsers</a>
        </li>
    </ul>
</p>