/* 
    This CSS file is seperated in to three parts. 
    First Part is Structural, it defines the strcuture of the document.
    Second Part is Styling, it defines the visuals of the document.
    Third Part is Functional, it has classes to define more specific behaviours.
*/

:root {
    --body-bg-color: #101010;
    --body-txt-color: #f0f0f0;
    --body-border-color: #aa2020;
    --desktop-font-size: 2em;
    --desktop-input-size: 1em;
    --desktop-body-padding: 1vw;
    --desktop-hyperlink-padding: 1vw;
    --mobile-font-size: 1.5em;
    --mobile-input-size: 1em;
    --mobile-body-padding: 1vw;
    --mobile-hyperlink-padding: 1vw;
    --hyperlink-txt-color: #FF7070;
    --input-border-radius: 10px;
    --button-bg-color: #FF7070;
    --button-txt-color: #101010;
}

/*////////////////////////*/
/*// Part 1 - Structure //*/
/*////////////////////////*/

body {
    min-height: 100%;
	width: 100vw;
	height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "title title title" "menu menu menu" "content content content" "footer footer footer";
}

header {
    grid-area: title;
}

nav {
    grid-area: menu;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}

/*////////////////////////*/
/*//   Part 2 - Style   //*/
/*////////////////////////*/

@media screen and (min-width: 1024px) {
    body {
        font-size: var(--desktop-font-size);
    }

    input {
        font-size: var(--desktop-input-size);
        min-width: 30%;
    }

    input[type="url"] {
        min-width: 61%;
    }
}

@media screen and (max-width: 1023px) {
    body {
        font-size: var(--mobile-font-size);
    }

    input {
        font-size: var(--mobile-input-size);
        min-width: 100%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

body {
    padding: 5px;

    color: var(--body-txt-color);
    background-color: var(--body-bg-color);

    border-color: var(--body-border-color);

    line-height: 1.4;
}

header {
    text-align: center;
}

nav {
    border-top: 2px solid var(--body-border-color) !important;
    text-align: center;
    border-bottom: 2px solid var(--body-border-color) !important;
}

main {
    padding-left: var(--desktop-body-padding);
    padding-right: var(--desktop-body-padding);
}

footer {
    border-top: 2px solid var(--body-border-color) !important;
    text-align: center;
}

a {
    color: var(--hyperlink-txt-color);
    text-decoration: none;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: var(--input-border-radius);
}

input[type="button"], input[type="submit"] {
    color: var(--button-txt-color);
    background-color: var(--button-bg-color);
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav a {
    padding-left: var(--desktop-hyperlink-padding);
    padding-right: var(--desktop-hyperlink-padding);
}

/*////////////////////////*/
/*//  Part 3 - Function //*/
/*////////////////////////*/

.loading_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba( 50, 50, 50, .9 ) url('../assets/loading.gif') 50% 50% no-repeat;
}

main.loading .loading_modal {
    overflow: hidden;
    display: block;
}

.failed_modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba( 30, 30, 30, .9 ) url('../assets/download_failed.png') 50% 50% no-repeat;
}

main.failed .failed_modal {
    overflow: hidden;
    display: block;
}