/* 
    This CSS file is seperated in to three parts. 
    First Part is Structural, it defines the strcuture of the document.
    Second Part is Styling, it defines the visuals of the document.
    Third Part is Functional, it has classes to define more specific behaviours.
*/

:root {
    --body-bg-color: #101010;
    --body-txt-color: #f0f0f0;
    --body-border-color: #aa2020;

    --desktop-font-size: 2rem;
    --desktop-input-size: 70vw;
    --desktop-input-font-size: 1.5rem;
    --desktop-button-size: 20vw;
    --desktop-donation-button-size: 18vw;
    --desktop-body-padding: 1vw;
    --desktop-hyperlink-padding: 1vw;

    --mobile-font-size: 2.5rem;
    --mobile-input-size: 80vw;
    --mobile-input-font-size: 1.5rem;
    --mobile-button-size: 50%;
    --mobile-donation-button-size: 40%;
    --mobile-body-padding: 1vw;
    --mobile-hyperlink-padding: 1vw;

    --hyperlink-txt-color: #FF7070;
}

/*////////////////////////*/
/*// Part 1 - Structure //*/
/*////////////////////////*/

body {
    min-height: 100%;
	width: 100vw;
	height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "title title title" "menu menu menu" "content content content" "footer footer footer";
}

header {
    grid-area: title;
}

nav {
    grid-area: menu;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}

/*////////////////////////*/
/*//   Part 2 - Style   //*/
/*////////////////////////*/

@media screen and (orientation: landscape) {

    body {
        font-size: var(--desktop-font-size);
    }

    img.srlogo {
        width: 20vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    input[type="image"] {
        min-width: var(--desktop-button-size);
        width: var(--desktop-button-size);
        height: auto;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="url"] {
        min-width: var(--desktop-input-size);
        font-size: var(--desktop-input-font-size);
        border-radius: 25px;
        padding: 0.5rem 2rem;
    }

    #donation-button {
        min-width: var(--desktop-donation-button-size);
        width: var(--desktop-donation-button-size);
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
    }
}

@media screen and (orientation: portrait) {

    body {
        font-size: var(--mobile-font-size);
    }

    img.srlogo {
        width: 40vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }


    input[type="image"] {
        min-width: var(--mobile-button-size);
        width: var(--mobile-button-size);
        height: auto;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="url"] {
        min-width: var(--mobile-input-size);
        font-size: var(--mobile-input-font-size);
        border-radius: 25px;
        padding: 0.5rem 2rem;
    }

    #donation-button {
        min-width: var(--mobile-donation-button-size);
        width: var(--mobile-donation-button-size);
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

body {
    padding: 5px;

    color: var(--body-txt-color);
    background-color: var(--body-bg-color);

    border-color: var(--body-border-color);

    line-height: 1.4;
}

header {
    text-align: center;
}

nav {
    border-top: 2px solid var(--body-border-color) !important;
    text-align: center;
    border-bottom: 2px solid var(--body-border-color) !important;
}

main {
    padding-left: var(--desktop-body-padding);
    padding-right: var(--desktop-body-padding);
}

footer {
    border-top: 2px solid var(--body-border-color) !important;
    text-align: center;
}

input{
    margin-top: 1rem;
}

a {
    color: var(--hyperlink-txt-color);
    text-decoration: none;
}

li {
    margin-left: 3rem;
}

h1 {
    text-align: center;
}

nav a {
    padding-left: var(--desktop-hyperlink-padding);
    padding-right: var(--desktop-hyperlink-padding);
}

img.mrlogo {
    width: 10rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

/*////////////////////////*/
/*//  Part 3 - Function //*/
/*////////////////////////*/

.loading_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba( 50, 50, 50, .9 ) url('../assets/loading.gif') 50% 50% no-repeat;
}

main.loading .loading_modal {
    overflow: hidden;
    display: block;
}

.failed_modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba( 30, 30, 30, .9 ) url('../assets/download_failed.png') 50% 50% no-repeat;
}

main.failed .failed_modal {
    overflow: hidden;
    display: block;
}